@import "src/./variables.scss";



.nav_list{
  list-style: none;
  padding: 1.5rem;
}

.nav_item{
  font-weight: 600;
  font-size: $font-lger;
  border-bottom: 2px solid black;
  border-radius: 2px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}