
@import "src/./variables.scss";


.submit_order_button{

  background-color: transparent;
  bottom: 20px;
  border: 0;
  position: fixed;
  left: 0;
  margin-left: 16px;
  height: 62px;
  padding: 1rem;
  background-color: $yellow;
  width: calc(100% - 32px);
  transition: all 0.15s ease;
  p{
    font-family: "Geometria Bold";
    font-size: $font-mder;
  }

}

.submit_order_button.--active{
  background-color: $green;
}

.submit_order_button:active{
  transform: scale(.97);
}