@import "src/./variables.scss";



.form_input{
  border: 0;
  outline: none;
  padding-bottom: 0.15rem;
  font-family: 'Geometria';

  line-height: 25px;
  font-size: $font-md;
  transition: border-color 0.5s ease-in-out ;
}

//.input_container{
//  display: flex;
//  align-items: center;
//  border-bottom: 1px solid $black-18;
//
//}

.form_input.--disabled{
  border-color: $black-18 !important;
}

.--pristine{
  color: $black-50;
}

.--valid{
  border-color: $green-second !important;
}